*{
  margin:0;
  padding:0;
}
body{
  background-color:#f7f7f7;
}
header{
  text-align:center;
  padding-top:2px]]]]]]]]] ;
}
nav ul li{
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}
nav ul{
  text-align:center;
}
aside{
  text-align:left;
  float:right;
  /*border:2px solid #fff;*/
  width:23%;
  padding:1%;
}
article{
  text-align:center;
  width:75%;
  float:left;
}
section{
  float:right;
  text-align:left;
  width:23%;
  padding:1%;
}
footer{
  clear:both;
  text-align:center;
}
a{
  text-decoration:none;
  color:#db87de;
}
